  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="active"> <a href="index"><img src="logo2.png" width="110px"/> </a>
        <a class="button" href="about"> About </a>
        <a class="button" href="createAccount"> Create an Account </a>
        <a class="button" href="howtoUse"> How to Use PDF Hub </a>
        <a class="button" href="myLibrary"> My Library </a>
        <form class="search-bar2" action="/search" method="POST">
          <input class="input2" type="text" placeholder="Search for Textbook by ISBN/Title" name="search">
          <button class="search-icon2"><img src="magnifying_glass.png" width="20px"/></button>
      </form> 
      </ul>
      </div>
  </div>
</nav>

  <div class="jumbotron text-center">
    <h1> <img src="logo2.png" width="300px" /> </h1>
  </div>
    <div class="container">
      <div class="column">
        {{#if search}}
        <h3 id="title"> {{search.title}} </h3>
        <p id="isbn"> ISBN: {{search.isbn}} </p>
        <p id="author"> Author: {{search.author}} </p>
        {{#if reviewsExist}}
        <p id= "review"> Average Review: {{search.average}} </p>
        {{/if}}
        <!-- and then this download method will use the file name from SQL -->
        <form action="/download" method="POST">
          <input type="hidden" name="fileName" value={{search.fileName}} />
          <button class="submit-button">Download Here</button>
        </form>
        <form name = "rating" action="/searchRating" method="POST">
          <div class="rate">
              <input type="hidden" name="book" value={{search.isbn}} />
              <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
          </div>
          <br /> <br />
          <div class="row"><button class="submit-button">Submit Review</button></div>
        </form>
        {{else}}
        <div class = "error">
          <span style="color:yellow">No Results Found</span>
        </div>
        {{/if}}
        </div>
    </div>